@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #141414;
	font-family: "Bebas Neue", sans-serif;
	color: #967bb6;
	display: block;
}

span {
	text-align: center;
	font-size: 60px;
	margin: 15px;
}

#timer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.timer {
	margin: 15px;
}
