@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #141414;
	font-family: "Bebas Neue", sans-serif;
	color: #967bb6;
	display: block;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 1px;
	margin-top: 1px;
}
h4 {
	text-align: center;
	font-size: 15px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.timer {
	margin: 15px;
}
